<h1>ngx-widget-grid</h1>
<section class="p2">
  Angular library to render and manage a grid and widgets to be used as the framework for dashboards etc.
</section>
<section class="p2">
  Compatibility
  <table class="table">
    <thead>
    <tr>
      <th>Angular version</th>
      <th>ngx-widget-grid version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>9.x</td>
      <td>^9.0.0</td>
    </tr>
    <tr>
      <td>8.x</td>
      <td>^8.0.0</td>
    </tr>
    <tr>
      <td>7.x</td>
      <td>^6.0.0</td>
    </tr>
    <tr>
      <td>6.x</td>
      <td>^6.0.0</td>
    </tr>
    <tr>
      <td>5.x</td>
      <td>5.0.1</td>
    </tr>
    <tr>
      <td>4.x</td>
      <td>2.0.6</td>
    </tr>
    <tr>
      <td>2.x</td>
      <td>2.0.6</td>
    </tr>
    </tbody>
  </table>
</section>
