<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="/">
        <span class="title">Ngx-Widget-Grid</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="dashboard-container container-fluid">
      <div>
        <button class="btn btn-primary"
                [hidden]="!editable"
                (mouseover)="toggleHighlight(true)"
                (mouseleave)="toggleHighlight(false)"
                (click)="addWidget()">Add Widget
        </button>
        <button class="btn btn-primary"
                (click)="toggleGrid()">Grid
        </button>
        <button class="btn btn-primary"
                (click)="toggleClickThrough()">ClickThr
        </button>
        <button class="btn btn-primary"
                (click)="doRows(false)">-Row
        </button>
        Rows:{{rows}}
        <button class="btn btn-primary"
                (click)="doRows(true)">+Row
        </button>
        <button class="btn btn-primary"
                (click)="doCols(false)">-Col
        </button>
        Cols:{{cols}}
        <button class="btn btn-primary"
                (click)="doCols(true)">+Col
        </button>
        <button class="btn btn-primary"
                (click)="editable = !editable">{{editable&&'Done'||'Edit'}}
        </button>
      </div>
      <div class="dashboard-page">
        <ngx-widget-grid [rows]="rows"
                         [columns]="cols"
                         [highlightNextPosition]="highlightNextPosition"
                         #grid
                         [showGrid]="showGrid"
                         (widgetPositionChange)="onWidgetChange($event)">
          <ngx-widget [position]="widget"
                      *ngFor="let widget of widgets;let $index = index;"
                      [movable]="editable"
                      [resizable]="editable">
            <div style="height:100%;width:100%; display:flex;">
              <div style="height:100%;width:100%; padding:10px; background-color: rgb(140, 198, 0);">
                <clr-icon shape="trash"
                          class="clickable"
                          (click)="askDeleteWidget($index)"
                          *ngIf="editable"></clr-icon>
              </div>
            </div>
          </ngx-widget>
        </ngx-widget-grid>
      </div>
    </div>
  </div>
</clr-main-container>
